# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_MAIZELESS_LEFT
    def_bool $(shields_list_contains,maizeless_left)

config SHIELD_MAIZELESS_RIGHT
    def_bool $(shields_list_contains,maizeless_right)
